@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');


.coin img {
  animation: jump 2s infinite;
  animation-delay: calc(.2s * var(--i));
}

@keyframes jump {

  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, .2));
  font-size: 60px;
}

.waviy span {
  /* font-family: 'Alfa Slab One', cursive; */
  position: relative;
  display: inline-block;

  /* color: #f8f4f4; */
  color: white;
  /* text-i */
  text-shadow: 0 0 15px;
  /* -webkit-text-stroke-width: 3px; */
  /* -webkit-text-stroke-color: rgb(112, 109, 109); */
  /* text-transform: uppercase; */
  animation: waviy 4s infinite;
  animation-delay: calc(.1s * var(--i));

}

@keyframes waviy {

  0%,
  40%,
  100% {
    transform: translateY(0)
  }

  20% {
    transform: translateY(-30px)
  }
}

#debug {
  position: fixed;
  top: 5;
  left: 5;
  width: 100px;
  height: 20px;
}


.titleAnimation {
  background: 50% 100% / 50% 50% no-repeat radial-gradient(ellipse at bottom, #fff, transparent, transparent);
  font-size: 50px;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  /* font-size: 10vw; */
  font-family: "Source Sans Pro", sans-serif;
  animation: reveal 3000ms ease-in-out forwards 200ms,
    glow 2500ms linear infinite 2000ms;


}

@keyframes reveal {
  80% {
    letter-spacing: 8px;
  }

  100% {
    background-size: 300% 300%;
  }
}

@keyframes glow {
  40% {
    text-shadow: 0 0 8px #fff;
  }
}